# Files and directories created by pub
.dart_tool/
.packages
build/
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Files and directories related to the Zed extension
zed-extension/target
zed-extension/extension.wasm
zed-extension/grammars

.DS_Store
